embeddedsw
embeddedsw/*
artifacts
artifacts/*
dtc
dtc/*
linux-xlnx
linux-xlnx/*
device-tree-xlnx
device-tree-xlnx/*
uboot_src
uboot_src/*
busybox/
busybox/*
optee_os
optee_os/*
optee_client
optee_client/*
optee_examples
optee_examples/*
todo.md